/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.language-switch {
    display: flex;
    gap: 10px;
}

.language-switch button {
    background-color: white;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.language-switch button:hover {
    background-color: #ddd;
}

/* Main Section Styles */
main {
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
}

.project {
    margin-bottom: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
